
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

<%= form_with(model: @location, method: :get, class: "border border-light p-5", local: true) do |form| %>
        <p class="text-center h4 mb-4">Ingresa a continuación el email del usuario que quieres ver:</p>
        <div class="form-group ">
            <label >Email: </label>
            <%= form.email_field :email , class:'input form-control mb-4'%>
        </div>
        
        <div class="text-center">
            <button type="submit" class="btn btn-success">Buscar</button>
        </div>
    

<% end %>

<div id="map2">
    <% if @other_location_list.length() > 0 %>
        <h1> Ubicaciones de <%= @other_user_mail %><h1>
        <%= map(:center => {
            :latlng => [51.52238797921441, -0.08366235665359283],
            :zoom => 2
                },
            :markers => @other_location_list
                
                
            )%>
    <% else %>
        <h1> No hay ningún usuario registrado con ese correo.<h1>
    <% end %>
</div>
<br> <br><br> <br>
<div id="map1">
    <h1> Mis Ubicaciones <h1>
    <%= map(:container_id => "second_map", :center => {
        :latlng => [51.52238797921441, -0.08366235665359283],
        :zoom => 2
            },
        :markers => @location_list
            
        )%>
</div>


   
<br> <br><br> <br>
<p><%= link_to 'Volver al inicio', root_path, class: 'btn btn-black', method: "get" %></p>
<p><%= link_to 'Volver a mis ubicaciones', list_locations_path, class: 'btn btn-black', method: "get" %></p>

    